n8n-workflow-nova-voice-agent.json
{
  "name": "Nova Voice Agent - Appointment Booking",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "appointment-booking",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "nova-appointment-booking",
      "notes": "Receives requests from Nova voice agent on BuildVerse website"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "extract-message",
              "name": "userMessage",
              "value": "={{ $json.message }}",
              "type": "string"
            },
            {
              "id": "extract-history",
              "name": "conversationHistory",
              "value": "={{ $json.conversationHistory }}",
              "type": "array"
            },
            {
              "id": "get-timestamp",
              "name": "receivedAt",
              "value": "={{ $now }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "extract-data-node",
      "name": "Extract User Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [460, 300],
      "notes": "Extracts user message and conversation history"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-greeting",
              "leftValue": "={{ $json.userMessage.toLowerCase() }}",
              "rightValue": "hello, hi, hey, greetings, good morning, good afternoon, good evening",
              "operator": {
                "type": "string",
                "operation": "contains",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "check-greeting-node",
      "name": "Is Greeting?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300],
      "notes": "Checks if this is an initial greeting"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "greeting-response",
              "name": "response",
              "value": "Hi! I'm Nova, your AI scheduling assistant for BuildVerse. I can help you book a meeting. Would you prefer a 15-minute quick call or a 30-minute detailed discussion?",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "greeting-response-node",
      "name": "Return Greeting",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [900, 200],
      "notes": "Returns friendly greeting for first-time users"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "extract-duration",
              "name": "duration",
              "value": "={{ $json.userMessage.match(/(15|thirty|30|fifteen)[\\s-]*(minute|min|minutes)?/i) ? ($json.userMessage.match(/15|fifteen/i) ? '15' : '30') : null }}",
              "type": "string"
            },
            {
              "id": "extract-intent",
              "name": "intent",
              "value": "={{ $json.userMessage.toLowerCase().includes('book') || $json.userMessage.toLowerCase().includes('schedule') || $json.userMessage.toLowerCase().includes('appointment') ? 'book' : ($json.userMessage.toLowerCase().includes('reschedule') || $json.userMessage.toLowerCase().includes('change') ? 'reschedule' : 'other') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "process-request-node",
      "name": "Process Request",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [900, 400],
      "notes": "Extracts booking details from user message"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "book-response-15",
              "name": "response",
              "value": "Great! I can book you for a 15-minute call. What day works best for you? Please tell me a date like 'tomorrow', 'next Monday', or a specific date.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "response-15min-node",
      "name": "Response: 15 min",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [1120, 320],
      "notes": "Response for 15-minute booking requests"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "book-response-30",
              "name": "response",
              "value": "Perfect! I can schedule a 30-minute call for you. What date would you prefer? You can say something like 'next Tuesday' or give me a specific date.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "response-30min-node",
      "name": "Response: 30 min",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [1120, 480],
      "notes": "Response for 30-minute booking requests"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "general-response",
              "name": "response",
              "value": "I understand. Let me help you with that. Could you provide a bit more detail about what you'd like to schedule?",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "general-response-node",
      "name": "General Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [1120, 640],
      "notes": "General response for unclear requests"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-duration-15",
              "leftValue": "={{ $json.duration }}",
              "rightValue": "15",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-duration-15-node",
      "name": "Is 15 min?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1120, 400],
      "notes": "Routes to appropriate response based on duration"
    },
    {
      "parameters": {
        "jsCode": "// Merge all responses into final output\nconst items = $input.all();\nconst responseItem = items.find(item => item.json.response) || items[0];\n\nreturn [{\n  json: {\n    response: responseItem.json.response || 'Thank you for your request. I will process it shortly.',\n    timestamp: new Date().toISOString(),\n    processed: true\n  }\n}];"
      },
      "id": "merge-response-node",
      "name": "Merge Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 400],
      "notes": "Combines all responses into final format"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond-node",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1560, 400],
      "notes": "Sends response back to Nova voice agent"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract User Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract User Data": {
      "main": [
        [
          {
            "node": "Is Greeting?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Greeting?": {
      "main": [
        [
          {
            "node": "Return Greeting",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Process Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Request": {
      "main": [
        [
          {
            "node": "Is 15 min?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is 15 min?": {
      "main": [
        [
          {
            "node": "Response: 15 min",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response: 30 min",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Return Greeting": {
      "main": [
        [
          {
            "node": "Merge Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Response: 15 min": {
      "main": [
        [
          {
            "node": "Merge Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Response: 30 min": {
      "main": [
        [
          {
            "node": "Merge Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "General Response": {
      "main": [
        [
          {
            "node": "Merge Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is 15 min?": {
      "main": [
        [
          {
            "node": "Response: 15 min",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response: 30 min",
            "type": "main",
            "index": 0
          },
          {
            "node": "General Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-01-20T00:00:00.000Z",
      "id": "nova-voice-agent",
      "name": "Nova Voice Agent",
      "updatedAt": "2025-01-20T00:00:00.000Z"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-01-20T00:00:00.000Z",
  "versionId": "1"
}




